body {
  padding-left: 80px;
  font-family: "MarkPro";
  src: url("./MarkPro.ttf") format("truetype");
  margin-top: 20px;
}
@font-face {
  font-family: "MarkPro"; /*Can be any text*/
  src: local("MarkPro"), url("./fonts/MarkPro.ttf") format("truetype");
}

.learner-group-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

textarea {
  min-height: 60px;
  min-width: 250px;
  margin-left: 40px;
  margin-top: 10px;
}

input {
  margin-left: 16px;
}

.form-section {
  width: 50%;
}
.results {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

button {
  margin: 8px;
  padding: 10px;
}
.student-pairs {
  font-size: 14px;
  line-height: 6px;
}
.inputs-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding: 0;
  margin: auto;
}
@media (prefers-color-scheme: light) {
}
.results-btn {
  width: fit-content;
}
.csv-json {
  display: flex;
  flex-direction: row;
}
article {
  width: 80%;
}
.slack-section {
  margin-left: 10%;
}
